<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wbsedxSoap">
                    <security mode="Transport"/>
                </binding>
                <binding name="wbsedxSoap1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://46.165.168.135/edxqas/wbsedx.asmx" binding="basicHttpBinding" bindingConfiguration="wbsedxSoap" contract="WebServiceGTE.wbsedxSoap" name="wbsedxSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
