<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings>
    <add name="BrokerMessageEntities" connectionString="metadata=res://*/DataBase.csdl|res://*/DataBase.ssdl|res://*/DataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-AGA1PV9\SQLEXPRESS;initial catalog=BrokerMessage;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wbsedxSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="wbsedxSoap1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://46.165.168.135/edxqas/wbsedx.asmx" binding="basicHttpBinding" bindingConfiguration="wbsedxSoap" contract="WebServiceGTE.wbsedxSoap" name="wbsedxSoap"/>
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="SaveXML" value="1"/>
    <add key="PathLog" value="D:\TrocaXmlGTE\Log"/>
    <add key="DelayProcess" value="15"/>
  </appSettings>
</configuration>